@font-face {
    font-family: plainlight;
    src: url(./fonts/Plain\ Light.ttf);
}

@font-face {
    font-family: silkserif;
    src: url(./fonts/Slik\ Serif.ttf);
}


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #151515;
    font-family: plainlight;
    color: white;
    cursor: none;
}



#loader
{
    padding: 8% 8%;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    /* 10 */

    background-color: rgb(13, 13, 13);
}

#counter
{
    padding: 0% 2%;
    width: 18vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    /* background-color: red; */
}

.line
{
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2vw;
}

.line h4
{
    font-size: 3vw;
    font-family: silkserif;
    text-align: end;
}

.line h1
{
    font-family: plainlight;
    font-size: 7.5vw;
    font-weight: 600;
    text-transform: uppercase;
}

.line #now
{
    font-size: 5.2vw;
    font-family: plainlight;
    text-transform: uppercase;
    font-weight: 500;
    
    -webkit-animation-name: font-change;
    
            animation-name: font-change;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

#msg
{
    padding: 2% 40%;
}
#msg h6
{
    font-family: plainlight;
    font-size: 1vw;
    font-weight: 300;
}

@-webkit-keyframes font-change {
    0%{
        font-family: plainlight;
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        font-family: plainlight;
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: silkserif;
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: silkserif;
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

@keyframes font-change {
    0%{
        font-family: plainlight;
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        font-family: plainlight;
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: silkserif;
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: silkserif;
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main
{
    background-color: black;
}

.mousefollower
{
    opacity: 1;
}

#page1
{
    width: 100%;                                          
    height: 100vh;

    background-color: #151515;
}

#nav
{
    padding: 4vw 4vw;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: 20% 55% 25%;
    grid-template-columns: 20% 55% 25%;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;

    
}

#nav > *:nth-child(1)
{
    -ms-grid-row: 1;
    -ms-grid-column: 1;

    
}

#nav > *:nth-child(2)
{
    -ms-grid-row: 1;
    -ms-grid-column: 2;

    
}

#nav > *:nth-child(3)
{
    -ms-grid-row: 1;
    -ms-grid-column: 3;

    
}

#navfirst
{
    position: fixed;
    z-index: 101;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.4vw;
}

#notfixed
{
    margin-left: 20vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40vw;
}

#navmid
{
    margin-left: 1vw;
}

#navmid h4
{
    font-size: 1.1vw;
    font-family: plainlight;
    font-weight: 300;
}

#navend 
{
    margin-left: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3vw;

}

#navend a
{
    font-family: plainlight;
    color: white;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.3vw;
}

#page1center
{
    position: relative;
    z-index: 6;
    margin-top: 8vh;
}

#hero
{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 20vw;
    /* background-color: red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 3vw;
}

#num h1
{
    margin-top: 0vw;
    font-family: silkserif;
    font-size: 3.6vw;
}

.herotext
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* background-color: red;
    margin-top: 1%; */
    overflow: hidden;
}

#one , #two
{
    text-decoration: underline;
}

.herotext h1
{
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 7vw;
}

#one:hover h1{
    -webkit-text-stroke: 1px white;
    font-weight: 300;
    color: transparent;
    
}

#two:hover h1{
    -webkit-text-stroke: 1px white;
    font-weight: 300;
    color: transparent;
}

#mover
{
    width: 22vw;
    height: 70vh;
    top: 0%;
    left: 0%;
    opacity: 0;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

#movertop
{
    width: 100%;
    height: 50%;

    background-color: #0057B4;
}

#moverbottom
{
    width: 100%;
    height: 50%;

    background-color: rgb(212, 212, 7);
}

#page2
{
    padding-top: 1vw;
    width: 100%;
    height: 100vh;

    background-color: #151515;
}

#vidholder
{
    /* padding-top: 8vw; */
    margin-left: 29.9vw;
    width: 70vw;
    height: 68vh;
    position: relative;

}

#imgcrsr{
    width: 12vw;
    height: 12vw;
    position: absolute;
    top: -10vh;
    left: 55vw;
    z-index: 10;
    border-radius: 50%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    background-color: orange;
}

#imgcrsr i{
    font-size: 2vw;
}

#vidholder img
{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
}

#vidholder video{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
}


#page3
{
    width: 100%;
    min-height: 100vh;
    position: relative;
    
    
    background-color: #151515;
    /* background-color: yellow; */
}

#page3head
{
    /* background-color: red; */
    width: 75vw;
    margin-left: 23.5vw;
    padding: 0vh 5vw;
}

#page3 h1
{
    font-weight: 600;
    font-size: 7.5vw;
    text-transform: uppercase;
}

#page3head h1::before
{
    content: "02";
    font-family: silkserif;
    font-size: 3vw;
    position: absolute;
    top: 0.5%;
    left: 24%;
}

#img-div-container
{
    margin-top: 20vh;
    padding: 0vh 4vw;
    /* background-color: red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.img-cont
{
    margin: 16vh 1vw;
    width: 30vw;
    height: 80vh;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.img-cont>h3{
    font-size: 2.8vw;
    height: 10%;
    width: 100%;
}

.img-div{
    margin-top: 2vh;
    width: 100%;
    height: 90%;
}

.contlast
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 10%;
    margin-top: 8%;
    margin-bottom: 8%;
}

.contlast h5{
    font-size: 1.2vw;
    font-weight: 500;
}

.contlast #one1
{
    width: 50%;
}

.img-cont:nth-child(1)
{
    margin: 16vh 1vw;
    width: 23vw;
    height: 60vh;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.img-cont:nth-child(1) .img-div
{
    margin-top: 4vh;
    width: 100%;
    height: 90%;
}

.img-cont:nth-child(7)
{
    margin: 10vh 1vw;
    width: 23vw;
    height: 60vh;
    
    -ms-flex-negative: 0;
    
        flex-shrink: 0;
}

.img-cont:nth-child(5)
{
    margin: 20vh 1vw;
    margin-top: 40vh;
    width: 30vw;
    height: 80vh;
   
    -ms-flex-negative: 0;
   
        flex-shrink: 0;
}


.imgcircle1
{
    position: relative;
    width: 23vw;
    height: 23vw;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 5vw;
    -ms-flex-item-align: end;
        align-self: flex-end;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.imgcircle1 svg
{
    height: 40%;
}

.imgcircle1 .imgcircle1in
{
    position: absolute;
    scale: 0;
    width: 23vw;
    height: 23vw;
    background-color: white;
    border-radius: 50%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    -webkit-transition: all ease 0.5s;

    -o-transition: all ease 0.5s;

    transition: all ease 0.5s;
}

.imgcircle1in p
{
    scale: 0;
    font-size: 1.2vw;
    color: black;
    font-weight: 400;
    width: 80%;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
    text-align: center;
}

.imgcircle1:hover .imgcircle1in{
    scale: 1;
}

.imgcircle1:hover .imgcircle1in p{
    scale: 1;
}


.imgcircle2
{
    width: 23vw;
    height: 23vw;
    border: 2px solid white;
    border-radius: 50%;

    position: relative;

    -ms-flex-item-align: start;

        align-self: flex-start;
    

    display: -webkit-box;
    

    display: -ms-flexbox;
    

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.imgcircle2 svg
{
    -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
            transform: rotate(-40deg);
    height: 40%;
}

.imgcircle2in
{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: absolute;

    scale: 0;

    -webkit-transition: all ease 0.5s;

    -o-transition: all ease 0.5s;

    transition: all ease 0.5s;
}

.imgcircle2in p
{
    font-size: 1.2vw;
    color: black;
    font-weight: 400;

    scale: 0;

    -webkit-transition: all ease 0.5s;

    -o-transition: all ease 0.5s;

    transition: all ease 0.5s;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}

.imgcircle2:hover .imgcircle2in{
    scale: 1;
}

.imgcircle2:hover .imgcircle2in p{
    scale: 1;
}


.imgcircle3
{
    width: 23vw;
    height: 23vw;
    border: 2px solid white;
    border-radius: 50%;

    position: relative;

    -ms-flex-item-align: end;

        align-self: flex-end;
    margin-left: 10vw;
    margin-right: 2vw;
    

    display: -webkit-box;
    

    display: -ms-flexbox;
    

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.imgcircle3 svg
{
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    height: 40%;
}

.imgcircle3in
{
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    background-color: white;
    position: absolute;
    
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.imgcircle3in p
{
    text-align: center;
    color: black;

    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}

.imgcircle3:hover .imgcircle3in{
    scale: 1;
}

.imgcircle3:hover p{
    scale: 1;
}

.circle4
{
    width: 23vw;
    height: 23vw;
    border: 2px solid #FFA63D;
    border-radius: 50%;

    position: relative;

    
    -ms-grid-column-align: center;

    
        justify-self: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: 40%;
    margin-top: 20vw;
    margin-bottom: 20vw;

    /* transform: translateX(-50%); */
    

    display: -webkit-box;
    

    display: -ms-flexbox;
    

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;

}



.circle4in
{
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    background-color: #FFA63D;
}

.circle4in a
{
    text-align: center;
    color: white;    
    text-decoration: none;
}

.circle4:hover {
    scale: 0.9;
}


#page4
{
    padding-top: 14vh;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 6;

    background-color: #151515;
    /* background-color: aquamarine; */
}

#page4content
{
    margin-left: 23.5vw;
    width: 75vw;
    /* height: 100vh; */

    padding: 0vh 5vw;
    position: relative;
    /* background-color: red; */
}


#page4head h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 600;
}

#page4head h1::before
{
    content: "03";
    font-family: silkserif;
    font-size: 3vw;
    /* background-color: red; */
    position: absolute;
    top: 1%;
    left: 1%;
}

.border
{
    width: 0%;
    height: 1.4px;

    background-color: white;
    margin-top: 3vh;
}

#page4cont p
{
    padding-top: 9vh;
    font-size: 2.6vw;
    width: 58%;
}

#page4imgdiv
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 12vh;
    
}

#page4imgdiv img
{
    width: 50%;
    height: 50%;
}

#page4imgdiv p
{
    width: 35%;
    margin-left: 2vw;
}

#bluediv
{
   
    padding: 6vh 3vw;
    width: 68%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    margin-top: -18.4vh;
    margin-bottom: 24vh;
    margin-left: 21vw;
    

    background-color: #3F7DF4;
}

.blue
{
    padding: 4vh 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid white;
    /* background-color: red; */
}

.blue h4
{
    font-size: 1.8vw;
    /* background-color: green; */
    width: 14vw;
}

.blue h6
{
    font-size: 1.2vw;
    width: 18vw;
    /* background-color: yellow; */
}

#page4content>h4{
    padding-top: 1vw;
    font-weight: 500;
}







#page5
{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 8% 0%;

    background-color: #151515;
    /* background-color: yellow; */
}

.animation1
{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
}

.animation1::-webkit-scrollbar
{
    display: none;
}

.animation1 h1{
    /* background-color: darkolivegreen; */
    text-transform: uppercase;
    font-size: 7vw;
    -webkit-text-stroke: 1px white;
    font-weight: 300;
    color: transparent;
    display: inline-block;
    margin-right: 16px;

    -webkit-animation-name: anime;

            animation-name: anime;
    -webkit-animation-duration: 14s;
            animation-duration: 14s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.animation2
{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
}

.animation2::-webkit-scrollbar
{
    display: none;
}

.animation2 h1{
    /* background-color: darkolivegreen; */
    text-transform: uppercase;
    font-size: 7vw;
    -webkit-text-stroke: 1px white;
    font-weight: 300;
    color: transparent;
    display: inline-block;
    margin-right: 16px;

    -webkit-transform: translateX(calc(-100% - 20px));

        -ms-transform: translateX(calc(-100% - 20px));

            transform: translateX(calc(-100% - 20px));

    -webkit-animation-name: anime;

            animation-name: anime;
    -webkit-animation-duration: 14s;
            animation-duration: 14s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;

}

span
{
    font-family: silkserif;
}

@-webkit-keyframes anime {
    from{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

@keyframes anime {
    from{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

#page6
{
    width: 100%;
    height: 90vh;

    background-color: #151515;
    position: relative;
}

#page6content
{
    margin-left: 23.5vw;
    width: 75vw;
    /* height: 100vh; */

    padding: 0vh 5vw;
    position: relative;
    /* background-color: red; */
}

#page6head
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3vw;
}

#page6head #arrow
{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0vw 1vw;
    overflow: hidden;
   

    /* background-color: red; */
}

#page6head svg
{   
    height:7vw;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

#page6content h1
{
    font-size: 7vw;
    text-transform: uppercase;
}

#page6content h1::before
{
    content: "04";
    font-family: silkserif;
    font-size: 3vw;
    position: absolute;
    top: 4%;
    left: -1%;
}

#page6mid
{
    padding: 8vh 0vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8vw;
}

#page6mid h5{
    font-size: 1.2vw;
    font-weight: 300;
    padding-bottom: 2vw;
}

#page6mid h4
{
    font-size: 1.8vw;
    font-weight: 300;
}

#page6end
{
    padding-top: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5vw;
}

#page6end h3{
    font-size: 1.2vw;
    font-weight: 300;
    text-transform: capitalize;
}

._canvas_container
{
    z-index: 999999 !important;
    pointer-events: none;
}



@media (max-width:600px) {

    #loader
    {
        padding: 8% 8%;
        padding-top: 60%;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1;
        /* 10 */

        background-color: rgb(13, 13, 13);
    }

    html, body {
        width: 100%;
        height: 100%;
        background-color: #151515;
        font-family: plainlight;
        color: white;
        cursor: none;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #main
    {
        overflow-x: hidden;
        overflow-y: auto;
        background-color: black;
    }

    .mousefollower
    {
        opacity: 1;
    }

    #page1
    {
        
        width: 100%;                                          
        height: 50vh;

        background-color:#151515;
    }

    #nav
    {
        padding: 4vw 4vw;
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;

        display: -ms-grid;

        display: grid;
        -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        -ms-grid-rows: 100%;
        grid-template-rows: 100%;

        /* background-color: red; */

        
    }

    #nav > *:nth-child(1)
    {
        -ms-grid-row: 1;
        -ms-grid-column: 1;

        
    }

    #nav > *:nth-child(2)
    {
        -ms-grid-row: 1;
        -ms-grid-column: 2;

        
    }

    #navfirst
    {
        position: fixed;
        z-index: 101;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* justify-content: space-between; */
        -ms-grid-column-align:end;
            justify-self:end;
        gap: 2.4vw;
    }

    #navfirst i{
        display: initial;
    }

    #navfirst svg{
        scale: 0.8;
    }

   

    #navmid
    {
        margin-left: 1vw;
    }

    #navmid h4
    {
        display: none;
        font-size: 4vw;
        font-family: plainlight;
        font-weight: 300;
    }

    #navend 
    {
        margin-left: 4vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 3vw;
        /* background-color: #0057B4; */
        display: none;

    }

    #page1center
    {
        position: relative;
        z-index: 6;
        margin-top: 18vh;

        /* background-color: red; */
    }

    #hero
    {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin-left: 6vw;
        /* background-color: red; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    #num h1
    {
        margin-top: 0vw;
        font-family: silkserif;
        font-size: 3.6vw;
    }

    .herotext
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /* background-color: red;
        margin-top: 1%; */
        overflow: hidden;
    }

    #one , #two
    {
        text-decoration: underline;
    }

    .herotext h1
    {
        font-size: 10vw;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 10vw;
    }

    #one:hover h1{
        -webkit-text-stroke: 1px white;
        font-weight: 300;
        color: transparent;
        
    }

    #two:hover h1{
        -webkit-text-stroke: 1px white;
        font-weight: 300;
        color: transparent;
    }

    #page2
    {
        padding-top: 14vw;
        width: 100%;
        height: 50vh;

        /* background-color: red; */
    }

    #vidholder
    {
        /* padding-top: 8vw; */
        margin-left: 0vw;
        width: 100%;
        height: 100%;
        position: relative;

        /* background-color: blue; */
    }

    #imgcrsr{
        width: 22vw;
        height: 22vw;
        position: absolute;
        top: 19%;
        left: 70%;
        z-index: 10;
        border-radius: 50%;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        background-color: orange;
    }

    #imgcrsr i{
        font-size: 5vw;
    }

    #vidholder img
    {
        width: 100%;
        height: 100%;
        opacity: 1;
        -o-object-fit: cover;
           object-fit: cover;
        position: absolute;
    }

    #vidholder video{
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        opacity: 0;
    }


    #page3
    {
        width: 100%;
        min-height: 100vh;
        position: relative;
        
        
        background-color: #151515;
        /* background-color: yellow; */
    }

    #page3head
    {
        /* background-color: red; */
        width: 100%;
        margin-left: 0vw;
        padding: 0vh 4vw;
        padding-top: 20vh;
        
    }

    #page3 h1
    {
        font-weight: 600;
        font-size: 12vw;
        text-transform: uppercase;
    }

    #page3head h1::before
    {
        content: "02";
        font-family: silkserif;
        font-size: 5vw;
        position: absolute;
        top: 2.7%;
        left: 6%;
    }

    #img-div-container
    {
        margin-top: 4vh;
        padding: 0vh 4vw;
        padding-right: 6.2vw;
        /* background-color: red; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .img-cont
    {
        margin: 10vh 1vw;
        width: 100%;
        height: 70vh;
        -ms-flex-negative: 0;
            flex-shrink: 0;

        /* background-color: blue; */
    }

    .img-cont>h3{
        font-size: 7.8vw;
        height: 8%;
        width: 100%;
    }

    .img-div{
        margin-top: 1vh;
        width: 100%;
        height: 90%;
    }

    .img-div img{
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
    }

    .contlast
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
        height: 8%;
        margin-top: 1%;
        margin-bottom: -1%;
    }

    .contlast h5{
        font-size: 3.2vw;
        font-weight: 500;
    }

    .contlast #one1
    {
        width: 50%;
    }

    .img-cont:nth-child(1)
    {
        margin: 10vh 1vw;
        width: 100%;
        height: 70vh;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    }

    .img-cont:nth-child(7)
    {
        margin: 10vh 1vw;
        width: 100%;
        height: 70vh;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    }

    .img-cont:nth-child(5)
    {
        margin: 10vh 1vw;
        width: 100%;
        height: 70vh;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    }


    .imgcircle1
    {
        display: none;

        position: relative;
        width: 0vw;
        height: 0vw;
        border: 2px solid white;
        border-radius: 50%;
        margin-left: 5vw;
        -ms-flex-item-align: end;
            align-self: flex-end;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .imgcircle1 svg
    {
        height: 40%;
    }

    .imgcircle1 .imgcircle1in
    {
        position: absolute;
        scale: 0;
        width: 0vw;
        height: 0vw;
        background-color: white;
        border-radius: 50%;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        -webkit-transition: all ease 0.5s;

        -o-transition: all ease 0.5s;

        transition: all ease 0.5s;
    }

    .imgcircle1in p
    {
        scale: 0;
        font-size: 1.2vw;
        color: black;
        font-weight: 400;
        width: 80%;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
        -webkit-transition-delay: 0.5s;
             -o-transition-delay: 0.5s;
                transition-delay: 0.5s;
        text-align: center;
    }

    .imgcircle1:hover .imgcircle1in{
        scale: 1;
    }

    .imgcircle1:hover .imgcircle1in p{
        scale: 1;
    }


    .imgcircle2
    {
        display: none;

        width: 0vw;
        height: 0vw;
        opacity: 0;
        border: 2px solid white;
        border-radius: 50%;

        position: relative;

        -ms-flex-item-align: start;

            align-self: flex-start;
        

        display: -webkit-box;
        

        display: -ms-flexbox;
        

        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

    }

    .imgcircle2 svg
    {
        -webkit-transform: rotate(-40deg);
            -ms-transform: rotate(-40deg);
                transform: rotate(-40deg);
        height: 40%;
    }

    .imgcircle2in
    {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 50%;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        position: absolute;

        scale: 0;

        -webkit-transition: all ease 0.5s;

        -o-transition: all ease 0.5s;

        transition: all ease 0.5s;
    }

    .imgcircle2in p
    {
        font-size: 1.2vw;
        color: black;
        font-weight: 400;

        scale: 0;

        -webkit-transition: all ease 0.5s;

        -o-transition: all ease 0.5s;

        transition: all ease 0.5s;
        -webkit-transition-delay: 0.5s;
             -o-transition-delay: 0.5s;
                transition-delay: 0.5s;
    }

    .imgcircle2:hover .imgcircle2in{
        scale: 1;
    }

    .imgcircle2:hover .imgcircle2in p{
        scale: 1;
    }


    .imgcircle3
    {
        width: 0vw;
        height: 0vw;
        opacity: 0;
        border: 2px solid white;
        border-radius: 50%;

        position: relative;

        -ms-flex-item-align: end;

            align-self: flex-end;
        margin-left: 10vw;
        margin-right: 2vw;
        

        display: -webkit-box;
        

        display: -ms-flexbox;
        

        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

    }

    .imgcircle3 svg
    {
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
        height: 40%;
    }

    .imgcircle3in
    {
        width: 100%;
        height: 100%;
        border-radius: 50%;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        background-color: white;
        position: absolute;
        
        scale: 0;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }

    .imgcircle3in p
    {
        text-align: center;
        color: black;

        scale: 0;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
        -webkit-transition-delay: 0.5s;
             -o-transition-delay: 0.5s;
                transition-delay: 0.5s;
    }

    .imgcircle3:hover .imgcircle3in{
        scale: 1;
    }

    .imgcircle3:hover p{
        scale: 1;
    }

    .circle4
    {
        width: 40vw;
        height: 40vw;
        border: 2px solid #FFA63D;
        border-radius: 50%;

        position: relative;

        
        -ms-grid-column-align: center;

        
            justify-self: center;
        -ms-flex-item-align: end;
            align-self: flex-end;
        margin-left: 30%;
        margin-top: 20vw;
        margin-bottom: 20vw;

        /* transform: translateX(-50%); */
        

        display: -webkit-box;
        

        display: -ms-flexbox;
        

        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;

    }



    .circle4in
    {
        width: 100%;
        height: 100%;
        border-radius: 50%;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        background-color: #FFA63D;
    }

    .circle4in a
    {
        font-size: 3vw;
        text-align: center;
        color: white;    
        text-decoration: none;
    }

    .circle4:hover {
        scale: 0.9;
    }



    #page4
    {
        padding-top: 14vh;
        width: 100%;
        min-height: 100vh;
        position: relative;
        z-index: 6;

        background-color: #151515;
        /* background-color: aquamarine; */
    }

    #page4content
    {
        margin-left: 1vw;
        width: 100%;
        /* height: 100vh; */

        padding: 0vh 5vw;
        position: relative;
        /* background-color: red; */
    }


    #page4head h1{
        font-size: 10vw;
        text-transform: uppercase;
        font-weight: 600;
    }

    #page4head h1::before
    {
        content: "03";
        font-family: silkserif;
        font-size: 4.5vw;
        /* background-color: red; */
        position: absolute;
        top: -3%;
        left: 6%;
    }

    .border
    {
        width: 0%;
        height: 1.4px;

        background-color: white;
        margin-top: 3vh;
    }

    #page4cont p
    {
        padding: 9vh 0vw;
        font-size: 6vw;
        width: 100%;
    }

    #page4imgdiv
    {
        display: initial;
        margin-top: 32vh;
        
    }

    #page4imgdiv img
    {
        width: 100%;
        height: 100%;
    }

    #page4imgdiv p
    {
        margin-top: 6vh;
        width: 100%;
        margin-left: 1vw;
    }

    #bluediv
    {
    
        padding: 2vh 3vw;
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        position: relative;
        margin-top: 8vh;
        margin-bottom: 0vh;
        margin-left: 0vw;
        

        background-color: #3F7DF4;
    }

    .blue
    {
        padding: 4vh 2vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-bottom: 1px solid white;
        /* background-color: red; */
    }

    .blue h4
    {
        font-size: 5.8vw;
        font-weight: 300;
        /* background-color: green; */
        width: 44vw;
    }

    .blue h6
    {
        font-size: 3.2vw;
        width: 28vw;
        font-weight: 300;
        /* background-color: yellow; */
    }

    #page4content>h4{
        /* background-color: red; */
        font-size: 4vw;
        padding-top: 2vw;
        font-weight: 500;
    }


    #page5
    {
        min-height: 60vh;
        width: 100%;
        position: relative;
        padding: 0% 0%;
        padding-top: 18%;

        background-color: #151515;
        /* background-color: yellow; */
    }

    .animation1
    {
        /* background-color: red; */
        white-space: nowrap;
        overflow-x: auto;
    }

    .animation1::-webkit-scrollbar
    {
        display: none;
    }

    .animation1 h1{
        /* background-color: darkolivegreen; */
        text-transform: uppercase;
        font-size: 10vw;
        -webkit-text-stroke: 1px white;
        font-weight: 300;
        color: transparent;
        display: inline-block;
        margin-right: 16px;

        -webkit-animation-name: anime;

                animation-name: anime;
        -webkit-animation-duration: 24s;
                animation-duration: 24s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }

    .animation2
    {
        /* background-color: red; */
        white-space: nowrap;
        overflow-x: auto;
    }

    .animation2::-webkit-scrollbar
    {
        display: none;
    }

    .animation2 h1{
        /* background-color: darkolivegreen; */
        text-transform: uppercase;
        font-size: 10vw;
        -webkit-text-stroke: 1px white;
        font-weight: 300;
        color: transparent;
        display: inline-block;
        margin-right: 16px;

        -webkit-transform: translateX(calc(-100% - 20px));

            -ms-transform: translateX(calc(-100% - 20px));

                transform: translateX(calc(-100% - 20px));

        -webkit-animation-name: anime;

                animation-name: anime;
        -webkit-animation-duration: 18s;
                animation-duration: 18s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        animation-direction: reverse;

    }

    span
    {
        font-family: silkserif;
    }

    @-webkit-keyframes anime {
        from{
            -webkit-transform: translateX(0%);
                    transform: translateX(0%);
        }
        to{
            -webkit-transform: translateX(calc(-100% - 20px));
                    transform: translateX(calc(-100% - 20px));
        }
    }

    @keyframes anime {
        from{
            -webkit-transform: translateX(0%);
                    transform: translateX(0%);
        }
        to{
            -webkit-transform: translateX(calc(-100% - 20px));
                    transform: translateX(calc(-100% - 20px));
        }
    }

    #page6
    {
        width: 100%;
        height: 90vh;

        background-color: #151515;
        /* background-color: red; */
        position: relative;
    }

    #page6content
    {
        margin-left: 1vw;
        width: 100vw;
        /* height: 100vh; */

        padding: 0vh 4vw;
        position: relative;
        /* background-color: red; */
    }

    #page6head
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 3vw;
    }

    #page6head #arrow
    {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: 0vw 1vw;
        overflow: hidden;
    

        /* background-color: red; */
    }

    #page6head svg
    {   
        height:9vw;
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
    }

    #page6content h1
    {
        font-size: 10vw;
        text-transform: uppercase;
    }

    #page6content h1::before
    {
        content: "04";
        font-family: silkserif;
        font-size: 5vw;
        position: absolute;
        top: -8%;
        left: 4%;
    }

    #page6mid
    {
        padding: 4vh 0vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 8vw;
    }

    #page6mid h5{
        font-size: 4.2vw;
        font-weight: 600;
        padding-bottom: 2vw;
    }

    #page6mid h4
    {
        font-size: 4.8vw;
        font-weight: 500;
    }

    #page6end
    {
        padding-top: 5vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 0.5vw;
    }

    #page6end h3{
        font-size: 4.2vw;
        font-weight: 300;
        text-transform: capitalize;
    }

}